
<Glass Class="playlist-element" Blur="0" BackgroundColor="rgba(192, 182, 230, 0)" Clicked="async ()=>{await Clicked.InvokeAsync();}">
    <div style="width:15%; display: flex;justify-content: center;align-items: center;margin:4px;">
        <img src="./images/music.svg" height="32" width="32" />
    </div>
    <div style="width:80%;display: flex;flex-direction: column;justify-content:center">
        <div>
            <p style="display:flex;"><b>@PlaylistName</b></p>
        </div>
        <div style="display:flex">
            <p>Playlist * Dhiraj Kumar</p>
        </div>
    </div>
</Glass>

@code {
    [Parameter]
    public string? PlaylistName { get; set; }
    [Parameter]
    public EventCallback Clicked { get; set; }
}

<style>
    .playlist-element
    {
        color : white;
        display: flex;
        border-radius: 25px;
        height: 5rem;
    }

</style>
