@using Singularity.Models
@inject NavigationManager NavManager

<MusicView/>

 <nav style="z-index:100">
    <ul>
        @foreach(var tab in Tabs)
        {
            <li class="@GetActiveClass(tab)">
                <a href="@tab.Link" style="display:flex; justify-content:center">
                    <img src="@tab.ImagePath" height="24" width="24" style="margin-top:10px"/>
                </a>
         </li>
        }

    </ul>
</nav>

@code
{
    private readonly List<TabPage> Tabs = new List<TabPage>
    {
        new TabPage("./images/home.svg","/","Home"),
        new TabPage("./images/search.svg","/search","Search"),
        new TabPage("./images/heart.svg","/like","Favourite"),
        new TabPage("./images/playlist.svg","/playlist","Playlist"),
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavManager.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object? sender,LocationChangedEventArgs e)
    {
        foreach(var page in Tabs)
        {
            page.IsActive = e.Location.EndsWith(page.Link);
        }
        StateHasChanged();
    }

    private string GetActiveClass(TabPage tab)
    {
        return tab.IsActive ? "active" : string.Empty;
    }
}

<style>

    nav
    {
        background: rgba(7,17,27,0.6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        backdrop-filter:blur(20px);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

        nav ul
        {
            background-color: transparent;
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
            height: 60px;
        }

            nav ul li {
                color: #777;
                cursor: pointer;
                flex: 1;
                padding: 8px;
                text-align: center;
          }

                nav ul li p {
                    font-size: 12px;
                    margin: 2px 0;
                }

                nav ul li:hover,
                nav ul li.active {
                    color: #8e44ad;
                }

</style>