<Glass Class="track" Blur="20" BackgroundColor="rgba(192, 182, 230, 0.2)" Style="@(IsPlaying ? activeStyle : "")">
    <div class="control">
        <div style="width:20%">
            <img class="cover-img @(IsPlaying ? "circularMotion" : "")" src="https://yt3.googleusercontent.com/VzKX7I0iD2eEHoWqk2drqOTFsPWX6hTGul0drSXXde8hWEcYNq7H_VdWHBC5RDawV_LoUBmD=s900-c-k-c0x00ffffff-no-rj" />
        </div>
        <div class="detail" style="width:70%">
            <p><b>@SongName</b></p>
            <p>
            @foreach(var singer in Singers)
            {
                <span style="margin:3px">@singer</span>
            }
            </p>
        </div>
        <div class="music-bar" style="width:10%">
        @if( IsPlaying)
        { 
            <MusicBar></MusicBar>
        }
        </div>
    </div>
</Glass>

@code {
    [Parameter]
    public string ?SongName { get; set; }
    [Parameter]
    public List<string> ?Singers { get; set; }
    [Parameter]
    public bool IsPlaying { get; set; } = false;

    private string activeStyle = "background-color:rgba(117,132,147,0.4);";
}

<style>
    .playing {
        
    }
    .track {
        height: 4rem;
        color: white;
        border-radius: 25px;
    }
    .control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .circularMotion {
        animation: circularMotion 10s infinite linear;
    }

    .detail{
        display: flex;
        flex-direction: column;
        align-items: start; 
    }

    .cover-img {
        border-radius: 20px;
        border-color: 1px solid rgba(66, 245, 209,0.5);
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-top: 4px;
        margin-left: 10px;
    }

    .music-bar{
       
    }

    @@keyframes circularMotion {
        from {
            transform: rotateZ(0deg);
        }
        to {
            transform: rotateZ(360deg);
        }
    }
</style>
