<div class="container @Class" style="@Style">
    <div class="progress" style="@ProgressStyle">

    </div>
</div>

@code
{
    [Parameter]
    public double Min { get; set; } = 0;

    [Parameter]
    public double Max { get; set; } = 100;

    [Parameter]
    public double Value { get; set; } = 0;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public string ProgressStyle { get; set; } = string.Empty;

    private double WidthPercent => (Max - Min) * Value / 100.0;

}

<style>
    .container
    {
        background:gray;
        height:2px;
    }

    .progress
    {
        background:white;
        width:@(WidthPercent)%;
        height:2px;
    }
</style>