<Glass Blur="20" Style="width: 100%;bottom: 0px;position:absolute" Class="@(IsActive ? "scroll-page-active" : "scroll-page-nonactive")" BackgroundColor="rgba(66, 245, 209,0.1)" Border="2px solid rgba(66, 245, 209,1)">
    <div class="scroll-page-header" @onclick="ClosePage">
        <img src="./images/cross.svg" height="32" width="32" />
    </div>
    @ChildContent
</Glass>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool IsActive { get; set; }
    [Parameter]
    public EventCallback OnCloseButtonClick { get; set; }
    private async Task ClosePage()
    {
        await OnCloseButtonClick.InvokeAsync();
    }
}

<style>
    .scroll-page{
        
    }

    .scroll-page-active{
        height : 100%;
        transition: height 0.5s;
        z-index: 100;
    }

    .scroll-page-nonactive{
        height:0%;
        transition: height 0.5s,z-index 1s;
        z-index: -100;
    }

    .scroll-page-header{
        display: flex;
        justify-content: flex-end;
        margin: 20px;
    }
</style>