@inherits LayoutComponentBase

<div class="layout">
    <div class="child">
        @Body
    </div>
    <NavMenu />
</div>


<style>

    .layout {
        position: relative;
        overflow: hidden;
        height: 100vh;
        width: 100%;
    }

        .layout .child {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - 60px);
            width: 100%;
            transition: opacity 0.4s ease;
        }

    body, html {
        background: url(./images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        overflow-x: hidden;
    }
</style>