@page "/"

<div class="grid grid-cols-2 grid-rows-2 gap-0 min-h-screen min-w-full">
    <div class="bg-green-400 w-64">
        <h1>A</h1>
    </div>
    <div class="bg-blue-700 ">
        B
    </div>
    <div class="bg-yellow-400 h-24 col-span-2">
        C
    </div>
</div>