<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="https://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap3 rescap">

  <Identity
    Name="048f9368-6114-4740-9b72-2df68b9c8005"
    Publisher="CN=sps014"
    Version="0.0.1.0" />

  <mp:PhoneIdentity PhoneProductId="048f9368-6114-4740-9b72-2df68b9c8005" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SonicAudioApp</DisplayName>
    <PublisherDisplayName>shive</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
	  <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SingularityApp.App">
      <uap:VisualElements
        DisplayName="Singularity"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Play Millions of songs with highest quality for free with no interupting Ads.Start streaming music and play songs from the any artists that you like. App uses Beautiful Native Windows Mica UI and the app is privacy focused. Listen with friends in group Sessions."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
	<rescap:Capability Name="extendedBackgroundTaskTime" />
	<rescap:Capability Name="extendedExecutionUnconstrained" />
	<Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="userAccountInformation"/>
	<uap:Capability Name="documentsLibrary" />
  </Capabilities>
</Package>