@inject AudioManager AudioManager

<ScollableModalView IsActive="isActive"
    OnCloseButtonClick="OnClose">
    <div style="margin-top:60px;padding:10px">
        <button value="submit" class="btn" @onclick="NewAddToPlaylistButtonClicked"
            style="width:150px;color:white;background-color:deeppink;margin:10px 0px;margin-right:10px">
            Create New
        </button>
        @if (currentPalylistId != null)
        {
            
            <button value="submit" class="btn" style="width:150px;color:white;background-color:orange;margin:10px 0px"
                    @onclick="AddToPlaylist">
                Add To Selected
            </button>
        }
        
        <UserPlaylistView IsInAddMode="true" OnPlaylistSelected="PlaylistSelected" />
    </div>
</ScollableModalView>

<CreateNewPlaylistView @ref="newPlaylistElement" PlaylistCreated="OnNewPlaylistCreated" />
<style>
    .btn {
        margin: 0 12px;
        padding: 10px 0;
        border: none;
        border-radius: 25px;
        font-weight: 700;
    }

</style>