<div class="music-profile">
    <div @onclick="DownloadSongs">
        <img src="./images/download.svg" width="35" height="35" />
    </div>
    <div @onclick="PlaySongsList">
        <img src="./images/play.svg" width="35" height="35" />
    </div>
</div>

<style>
    .music-profile{
        width: 95%;
        display:flex;
        justify-content: space-between;
    }
</style>
