@implements IDisposable
<Glass Blur="60" Style="width: 100%;bottom: 0px;position:absolute;vertical-align:bottom" Class="@(IsActive ? "scroll-page-active" : "scroll-page-nonactive")" BackgroundColor="@BackgroundColor">
    <div class="scroll-page-header" @onclick="ClosePage">
        <img src="./images/cross.svg" height="32" width="32" @onclick="ClosePage" />
    </div>
    @ChildContent
</Glass>

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />


<style>
    .scroll-page{
        
    }

    .scroll-page-active{
        height : 100vh;
        transition: height 0.5s;
        z-index: 1200;
        overflow-y:auto;
    }

    .scroll-page-nonactive{
        height:0%;
        transition: height 0.5s,z-index 1s;
        z-index: -100;
    }

    .scroll-page-header{
        padding: 10px;
        position: absolute;
        z-index: 1200;
        right: 0px;
    }
</style>