@inject IMusicHub MusicHub
@if (ResizableSongsList != null)
{
    foreach (var song in ResizableSongsList)
    {
        <LongPressItem LongPressed="()=>{ TrackLongPressed(song);}">
            <MusicTrack Song="song" CanPlay="CanPlay" CurrentSelectedSongInList="@currentSelectedId"/>
        </LongPressItem>
    }
}

<div @ref="endElement">
    @if (!isFinishedLoading)
    {
        <div style="display:flex;justify-content:center;margin-top:2px;width:100vw">
            <MusicBar UseLargeSize="true" />
        </div>
    }
</div>