@inject IJSRuntime Runtime
@inject NavigationManager Nav

<div id="glassTopHeader">
    <div id="tabView" style="height:60px;display:flex;justify-content:space-between;align-items:center;margin-left:8px;margin-right:8px;padding:4px;padding-top:8px">

        @if (!IsSearchPage)
        {
            <div style="display:flex;align-items:center">
                <img src="./images/icon.svg" width="40" height="40" />
                <div class="title">@Title?.ToUpper()</div>
            </div>
            <div style="display:flex;align-items:center">
                @if (ShowSearchButton)
                {
                    <img src="./images/search.svg" style="margin-left:8px"
                        width="28" height="28" @onclick="GoToSearch" />
                }
                @if (ShowAddButton)
                {
                    <img src="./images/plus.svg" style="margin-left:8px"
                        width="28" height="28" @onclick="()=>AddButtonClicked.InvokeAsync()" />
                }
                @if (ShowDeleteButton)
                {
                    <img src="./images/delete.svg" style="margin-left:8px"
                        width="28" height="28" @onclick="()=>DeleteButtonClicked.InvokeAsync()" />
                }
                @if (ShowCrossButton)
                {
                    <img src="./images/cross.svg" style="margin-left:8px"
                        width="28" height="28" @onclick="()=>CrossButtonClicked.InvokeAsync()" />
                }
            </div>
           
        }
        else
        {
            <input @bind-value="lastSearch" id="search" type="search" tabindex="0"
                   @oninput="OnSearchChanged" @onkeyup="OnSearchFinished" placeholder="search anything here" />
        }
    </div>

</div>
<div id="tabViewBody" style="padding: @(Padding);height: calc(100vh - @(!isMusicViewInitialized?130:200)px);overflow-y: auto;scrollbar-width:none" class="scrollbar-hidden">
    @ChildContent
</div>




<style>

    .title {
        color: white;
        font-size: 22px;
        font-weight: bold;
        margin-left: 0px;
    }

    #glassTopHeader {
        background: rgba(7,17,27,0.5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        backdrop-filter: blur(50px);
        margin-top: -10px;
        width: 100%;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge add Firefox */
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }

    #search {
        width: 100%;
        outline: none;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 8px 10px;
        padding-left: 40px;
        border-radius: 15px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }
</style>

