@using Singularity.Data
@inject NavigationManager Nav

<div style="margin:4px 10px;">
    @foreach (var playlist in PlaylistSettings.Current.Playlists)
    {
        <LongPressItem LongPressed="()=>OnLongPressed(playlist.Value)">
            <Glass Blur="20" BackgroundColor="@GetStyle(playlist.Value)" Style="padding:16px 6px;border-radius:15px;margin:4px;" Clicked="() => PlaylistSelected(playlist.Key)">
                <div style="display:flex;justify-content:space-between;">
                    <div class="detail-list" style="">
                        <p style="font-weight:bold" class="ellepsis-list">@playlist.Value.Name</p>
                        <div class="ellepsis-list" style="display:flex;justify-content:space-between">
                            <span style="margin:3px;font-weight:bold">@playlist.Value.Singer</span>
                        </div>
                    </div>
                    <div style="width: 32px;height: 32px;">
                        <img class="cover-img-list" src="./images/music.svg" />
                    </div>
                </div>
            </Glass>
        </LongPressItem>
    }
</div>

 <NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<style>
    .detail-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: left;
        align-content: space-between;
        align-items: start;
        margin:0px 10px;
    }

    .cover-img-list {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
    }
</style>