@page "/like"
@using System.Collections.Specialized
@using Singularity.Data
@using System.Collections.ObjectModel
@implements IDisposable
@inject IMusicHub MusicHub
@inject AudioManager AudioManager

<TabBarContentView Title="Liked Songs" ShowSearchButton="false" ShowPlayAllButton="true" PlayAllButtonClicked="PlayAllClicked">

    @foreach (var songId in UserSettings.Current.LikedSongs)
    {
        <div id="@songId">
            <MusicTrack SongId="@songId"/>
        </div>
    }

</TabBarContentView>


@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        UserSettings.Current.LikedSongs.CollectionChanged += OnListChanged;
    }
    void OnListChanged(object? sender, NotifyCollectionChangedEventArgs e)
    {
        StateHasChanged();
    }
    public void Dispose()
    {
        UserSettings.Current.LikedSongs.CollectionChanged -= OnListChanged;
    }
    private async void PlayAllClicked()
    {      
        await AudioManager.PlaySongsListAsnyc(GetLikedSongsAsync());
    }
    public async IAsyncEnumerable<ISong> GetLikedSongsAsync()
    {
        foreach (var songId in UserSettings.Current.LikedSongs)
        {
            var r = await MusicHub.GetSongMetaDataAsync(songId);
            if (r == null)
                continue;

            yield return r;
        }
    }
}