@page "/playlist"
@inject IMusicHub MusicHub
<TabBarContentView Title="Your Playlists" 
    ShowAddButton="AddBtnVisible"
    ShowCrossButton="CrossBtnVisible" ShowDeleteButton="DeleteBtnVisible"
    CrossButtonClicked="CrossBtnClicked"
    DeleteButtonClicked="OnDeleteButtonClicked"
    AddButtonClicked="OnPlusButtonClicked" Padding="0">
   
    <div>

    <CreateNewPlaylistView
        @ref="newPlaylistElement" />

    <UserPlaylistView @ref="PlaylistView"
        OnPlaylistSelected="PlaylistItemSelected"/>

    </div>

</TabBarContentView>
