@page "/"
@using Singularity.Audio
@using System.Collections.Specialized
@inject IJSRuntime Runtime
@inject YoutubeClient Youtube
@inject AudioManager AudioManager

<div style="height:100px">
    
</div>
<p class="playlist-text">Recent PlayList</p>
<div class="tracks">
    @foreach (var song in AudioManager.Queue.Songs)
    {
        <MusicTrack Song="@song"></MusicTrack>
    }
</div>


@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        AudioManager.Queue.Songs.CollectionChanged += SongListChanged;
    }

    private void SongListChanged(object? sender, NotifyCollectionChangedEventArgs e)
    {
        StateHasChanged();
    }
}


<style>
    .tracks {
        padding : 30px;
        height: calc(100vh - 250px);
        overflow-y: auto;
    }

    .playlist-text {
        color: white;
        font-size: 23px;
        display: flex;
        margin-left: 30px;
    }
</style>

