@page "/"

<div style="display:flex;  flex-direction: row-reverse;">
    <GlassmorphismBase   Style="margin:0px;height:100vh;width:100vw" Blur="10">
        <div class="">
        </div>
    </GlassmorphismBase>
</div>


<style>
    body, html {
        background: url(https://w0.peakpx.com/wallpaper/181/384/HD-wallpaper-reddit-i-alien-planet-landscape-iphone-sky-anime-scenery-xr-minimalist-thumbnail.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        overflow-x:hidden;
        margin:0px;
        padding:0px;
    }

</style>