@page "/"

<div style="display:flex;  flex-direction: row-reverse;">
    <GlassmorphismBase Color="green" Style="margin:0px" Blur="0">
        <div class="">
        </div>
    </GlassmorphismBase>
    <GlassmorphismBase Color="yellow" Style="margin:0px" Blur="20">
        <div class="">
        </div>
    </GlassmorphismBase>

</div>


<style>
    body, html {
        background: url(https://wallpapers.com/images/hd/dark-gradient-9w4rh8es3t7ooz9k.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        overflow-x:hidden;
    }

    .container {
        width: 500px;
        height: 100vh;
        outline: solid 1px black;
    }

</style>