@page "/"

<div class="phone">
      <img
        src="https://images.unsplash.com/photo-1601879527135-e228945950d5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=922&q=80"
        alt=""
        class="content show"
      />
      <img
        src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        alt=""
        class="content"
      />
      <img
        src="https://images.unsplash.com/photo-1517411925961-8a5ea19bd27b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
        alt=""
        class="content"
      />
      <img
        src="https://images.unsplash.com/photo-1532633378163-24c2c0da3c99?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        alt=""
        class="content"
      />


      <nav>
        <ul>
          <li class="active">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </li>
          <li>
            <i class="fas fa-mouse"></i>
            <p>Work</p>
          </li>
          <li>
            <i class="fas fa-book-open"></i>
            <p>Blog</p>
          </li>
          <li>
            <i class="fas fa-users"></i>
            <p>About Us</p>
          </li>
        </ul>
      </nav>
    </div>

      <style>
* {
  box-sizing: border-box;
}

body
{
        padding: 0px;
        margin: 0px;
}

.phone {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.phone .content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4s ease;
}

.phone .content.show {
  opacity: 1;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}

nav ul {
  background-color: white;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 60px;
}

nav ul li {
  color: #777;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

nav ul li:hover,
nav ul li.active {
  color: #8e44ad;
}

      </style>